html,body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 15px;
    background-color: #f4f4f4;
    overflow-x: hidden;
}
/*nav  */
nav{
    background-image: linear-gradient(to right top, #116466, #1c495b, #272e3f, #1e1920, #000000);
    border-bottom: 3px solid #fff;
    color: #547495;
}

.container{
    display: flex;
     list-style: none;
    margin: 0;
    justify-content: space-around;
}
.container div h1{
    color:#116466;
}
.container .nav-div h1 span,.container .nav-div p{
    color:#fff;
}

ul li{
    margin-top:20px;
    padding-right: 20px;
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color:#116466;
}
ul li a:hover{
    cursor: pointer;
    text-decoration: underline;
}
ul li:first-child a{
    color:#fff;
}

/*slider  */
#slider{
    height: 70vh;
    position: relative;
    margin: auto;
}
/*slide with img  */
#slider .mySlides {
    display: none;
}
/*img in the slides  */
#slider .mySlides img {
    vertical-align: middle;
    height: 70vh;
    width: 100%;
     opacity: 0.7; 
    
}
/*slider arrows  */
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/*for the text  */
.text {
background-color: transparent;
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.text .link-more{
    display: flex;
    justify-content: center;
}
.text h1{
    font-size:30px;
}
.text .link-more button{
    margin-right: 20px;
}
/* review section  
#review{
   border-bottom: 2px solid greenyellow; 
} */
.review{
    padding: 20px;
}
div.box{
    padding: 10px;
}
div.box div{
   width: 40%;
   height: 40%;
   border-radius: 50%;
   overflow: hidden;
   margin: auto auto;
}
div.box div img{
   width: 100%;
   height: 100%;
}
div.box h3{
  text-align: center;
}
/*section for house and advert  */
#section-house{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    grid-gap: 5px;
    /* border-bottom: 2px aqua solid; */
}
  #section-house div{
    padding:20px;
    margin: 10px;
    border: 0.5px solid black;
    border-radius: 10px;
    
} 
 #section-house div img{
     display: block;
     border-radius: 10px;
     margin: auto auto;
    width: 40%;
    transition: all 1s;
}
#section-house div img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#section-house p{
   display: flex;
   justify-content: flex-end;
}  

.link-more button{
   
    background-color: transparent;
    border: 1px solid black;
    padding: 10px;
    border-radius: 7px;
}
.link-more button:hover{
   cursor: pointer;
   background-color: #000000;
   color: #f4f4f4;
   border: 1px solid #f4f4f4;
   /*add background color and text color  */
    
}

/*footer  */
footer{
    background-image: linear-gradient(to right top, #116466, #1c495b, #272e3f, #1e1920, #000000);
    border-top: 1px solid #fff;
    color: #116466;
    text-align: center;
    padding: 10px 0px;
}
/*for registeration  */
.div{
    display: grid;
    width: 320px;
    grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
    /* background-color: red; */
    /* justify-content: center; */
    margin: auto auto;
}
.label{
    margin: 10px 10px 0px 0px;
    font-weight: bold;
    font-size: 15px;
}
.input{
    height: 30px;
    border-radius: 5px;
    padding: 10px;
    border:1px solid rgb(0,0,0,0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
div .button{
    margin: 10px 0 10px;
    height: 30px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 20px 30px 20px;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    border:1px solid rgb(0,0,0,0.5);
}
.button:hover{
    cursor: pointer;
    /* background-color: #fff; */
    /* color: #09080a; */
    background-image: linear-gradient(to right top, #116466, #1c495b, #272e3f, #1e1920, #000000);
    
    
}
/*onclick of the input  */
.click{
    border-radius: 10px;
    border: 1px;
}
/*fieldset  */

.legend{
    text-align: center;
    font-weight: bold;
    margin: 10px auto;
    font-size: 25px
}
#register p{
    display: flex;
    justify-content: flex-end;
    /* padding: 10px; */
    
}
#register p a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
#register p span{
    margin-right: 10px; 
}
/*sign in  */
#sign-in .legend{
    margin: 45px auto;
}
#sign-in form{
    margin: auto;
    padding: 20px 95px 95px 95px;
}
/*for smaller screens  */
@media only screen and (max-width:768px){
    .container{
         flex-direction: column; 
        justify-content: center;
    }
    .container div{
        text-align: center;
    }
    .container div h1{
        font-size: 20px;
    }
    
   
    ul{
        padding: 15px !important;
         margin: 0px auto; 
    }
    ul li{ 
        padding:0px;
        margin: 0;

    
    }
    #slider{
        height: 30vh;
    } 
    #slider .mySlides img {
        vertical-align: middle;
        height: 30vh;
        width: 100%;
        /* opacity: 0.7;  */
        
    }
    .text h1{
        font-size: 15px;
    }
    .prev, .next,.text {font-size: 11px}
     #section-house{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(310px,1fr));
        grid-gap: 20px;
        /* border-bottom: 2px aqua solid; */
    } 
     #section-house div{
         margin-top:0; 
     }
    
    
    .label{
        font-weight: bold;
        font-size: 15px;
    }
     .input{
        height: 20px;
        /* margin: 0 auto; */
        border-radius:5px;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
    } 
     
    #register p{
        /* padding-right: 10px; */
        justify-content: center;
    }
    #sign-in .legend{
        margin: 25px auto;
    }
    #sign-in form {
        padding: 20px 0px 30px 0px;
    }
}